@media (min-width: 768px) {
    .Iam-main-new {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 2fr;
    }
    .presentation-img-new-container {
        grid-column: 1;
    }
    .info-container {
        grid-column: 2;
    }
    .presentation-img-new-container img {
        width: 90%;
    }
    .blogs-posts-container .post-container {
        width: 100%;
        justify-content: center;
    }
    .perfil-new-container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr;
    }
    .perfil-new-container .perfil-new {
        display: block;
    }
}
